/*&copy  Ivan Jasenský  */
body {
        background-color: #fed523;    
}
a{    
    cursor: pointer;
}
a:hover {
        text-decoration: none;
        cursor: pointer;
}
.navbar{
        max-width: 1920px;
        margin: auto;
        padding-top: 30px;
}
.navbar-toggler-icon {
    max-width: 20px;
    height: 12px;
    background-image: url(../images/bars@2x.png);
}
.navbar-toggler {
    border:none;
}
.navbar-collapse{
                position:absolute;
                right:30px;
}
.navbar-brand {
    max-width: 80%;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand img {
    max-height:92px;
}
.nav-item a {
            font-family: Poppins;
            font-weight: normal;
            font-size: 20px;
            line-height: 80px;
            text-align: center;
            color: #473080;
}
@media(max-width:767px){
    .navbar{
        max-width: 1920px;
        margin: auto;
        padding-top: 30px;
}
.navbar-brand {
    max-width: 80%;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand img {
    max-height:36px;
}
.navbar-collapse{
                position:relative;
                right:0px;
}
.nav-item a {
            font-family: Poppins;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #473080;
}
}
.container{
            max-width: 1180px;
            padding:0px;
  }
  .header {
            background-image: url('../images/hero.png');
            background-size: 48% auto;
            background-position: 110% top;
            background-repeat: no-repeat;           
    h1{
        margin-top: 170px;
        max-width: 708px;
        font-family: Poppins;
        font-weight: bold;
        font-size: 72px;
        line-height: 96px;
        text-align: left;
        color: #473080;
    }    
    p{
        font-family: Poppins;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        text-align: left;
        color: #242011;
        margin-bottom: 80px;    
    }
}
@media(max-width:767px){
.header {           
    background-size: 85% auto;
    background-position: center 150px;
    h1{
        padding-top: 30px;
        margin: auto;
        width: 305px;
        font-family: Poppins;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #473080;  
    }    
    p{
        font-family: Poppins;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #504a30;        
        margin-bottom: 0px;   
        padding-bottom: 0px;   
    }
    }
}
.polygon1{
    margin-top: -100px;
    max-width: 1920px;
}
@media (max-width:767px){
.polygon1{
    margin-top: -500px;
    max-width: 1920px;
}  
}
.btnx{
        margin-top: 190px;
        margin-bottom: 130px;
        padding: 18px 93.5px 18px 92.5px;
        height: 64px;
        border-radius: 5px;
        background: #473080;
        box-shadow: 0px 10px 25px rgba(191, 27, 145, 0.1);
        font-family: Poppins;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #fff;
        text-decoration: none;
}
@media (max-width:767px){   
.btnx{
    margin-top: 50px;
    margin-bottom: 50px;
} 
}
.btn-1{
        width: calc(50% - 15px);
        margin-right: 15px;
        float:left;
        height: 64px;
        border-radius: 5px;
        background: #473080;
        box-shadow: 0px 10px 25px rgba(191, 27, 145, 0.1);
        font-family: Poppins;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #fff;
}
@media(max-width:767px){    
   
    .header {
        .btn-1{
        width: calc(100% - 40px);
        margin: 315px 20px 11px 20px;
    }

    }
    .btn-1{
        width: calc(100% - 40px);
        margin: 0px 20px 11px 20px;
    }
    }
.btn-2{
        width: calc(50% - 15px);
        margin-left: 15px;
        float:left;
        height: 64px;
        border-radius: 5px;
        background: transparent;
        border: 1px solid #21365f;
        box-shadow: 0px 10px 25px rgba(191, 27, 145, 0.1);
        font-family: Poppins;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #21365f;
}
@media(max-width:767px){    
    
    .btn-2{
        width: calc(100% - 40px);
        margin: 11px 20px 0px 20px;
    }
    }
.btn-pujcit{
            border-radius: 5px;
            background: #473080;
            box-shadow: 0px 10px 26px rgba(71, 48, 128, 0.1);
            color:#FFFFFF;
            font-family: Poppins;
            font-weight: normal;
            font-size: 20px;
            text-align: center;
            color: #fff;
}
.card-body{
            padding-top: 40px;
}
.card{
        margin-top: 135px;
        margin-bottom: 195px;        
        border-radius: 5px;
        border: 0px;
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  p{
    font-family: Poppins;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #1d1b0f;
    margin-bottom: 16px;
  }
  h5{
    padding-top: 16px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #473080;
  }
}
@media(max-width:767px){ 
    .card{
        margin-top: 135px;
        margin-bottom: 195px;        
        border-radius: 5px;
        border: 0px;
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  p{
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #504a30;    
  }
  h5{
    width: 290px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #473080;    
  }
}   
}
.vyhody {
        margin-bottom: 0px;  
        .row{
            padding-bottom: 80px;     
        }
  h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 56px;
    line-height: 80px;
    text-align: center;
    color: #d52884;
    margin-bottom: 65px;
    }    
    div img{
            margin:auto;
            display: block;
            margin-bottom: 25px;
    }
    h2{
        font-family: Poppins;
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        color: #21365f;
        padding-bottom: 8px;    
    }
    h3{
        font-family: Poppins;
        font-weight: normal;
        font-size: 40px;
        letter-spacing: -0.02em;
        line-height: 52px;
        text-align: center;
        color: #d52884;
        margin-bottom: 30px;
        span{
            color: #21365F;
        }
    }
    p{
        font-family: Poppins;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #21365f;
    }    
}
@media(max-width:767px){  
.vyhody {
    margin-top:350px;
    padding-bottom: 155px;      
    h1{
        font-family: Poppins;
        font-weight: bold;
        font-size: 32px;
        line-height: 80px;
        text-align: center;
        color: #d52884;
        }
    h3{        
        max-width: 246px;
        margin: auto;
        font-family: Poppins;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: -0.02em;
        line-height: 40px;
        text-align: center;
        padding-bottom: 40px;      
    }
    p{
        max-width: 220px;
        margin: auto;
        padding-bottom: 40px;
    }
}
}
.polygon2{
    max-width: 1920px;
    background-color:#fe95b3;
    display: block;
}
@media(max-width: 767px){
    .polygon2{
        display: none;
    }
}
#nezavazna-zadost .row {
    margin: 0px;
}
.zadost{
        max-width:1920px;
        background-image:  linear-gradient(to bottom, #fe95b3 10%, #dd66ad 100%);
        h1{
            font-family: Poppins;
            font-weight: bold;
            font-size: 56px;
            line-height: 80px;
            text-align: left;
            color: #21365f;
            padding-bottom: 20px;
            padding-top: 12.5px;
        }
        p{
            max-width: 525px;
            padding-left: 15px;
            padding-bottom: 20px;
            font-family: Poppins;
            font-weight: normal;
            font-size: 20px;
            line-height: 32px;
            text-align: left;
            color: #21365f;
        }
        .card {
            margin: 0px 0px 40px 0px;
            padding: 0px;     
            h1 {
                padding-top: 0px;
                font-family: Poppins;
                font-weight: bold;
                font-size: 74px;
                line-height: 80px;
                text-align: right;
                color: #d52884;        
            }
            h2 {
                padding-top: 25px;
                font-family: Poppins;
                font-weight: bold;
                font-size: 24px;
                line-height: 25px;
                text-align: left;
                color: #473080;        
            }
            h3 {
                padding-top: 0px;
                max-width: 376px;
                height: 49px;
                font-family: Poppins;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: left;
                color: #21365f;        
            }  
        }
  }  
    @media(max-width: 767px){
    .zadost{
        margin-top: -190px;
        max-width:1920px;
        background-image:  linear-gradient(to bottom, #fff 0%, #fff 369px, #fe95b3 370px, #dd66ad 100%);        
        .row div {
            padding: 1.5%;
        }
        h1{
            font-family: Poppins;
            font-weight: bold;
            font-size: 32px;
            line-height: 80px;
            text-align: left;
            color: #21365f;
            padding-bottom: 0px;
            padding-top: 12.5px;
        }
        p{
            max-width: 335px;
            padding-left: 15px;
            font-family: Poppins;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            text-align: left;
            color: #21365f;
        }
        .card {
            margin: 15px 0px 15px 0px;
            padding: 0px;
            .row div {
                padding: 0px;
                margin: 0px;
            }            
            .card-body{
                padding: 0px;
            }
            h1 {                
                padding-top: 0px;
                font-family: Poppins;
                font-weight: bold;
                font-size: 56px;
                line-height: 80px;
                text-align: center;
                color: #d52884;
                  
            }
            h2 {
                padding-top: 25px;
                font-family: Poppins;
                font-weight: bold;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                color: #473080;
      
            }
            h3 {
                padding-top: 0px;
                padding-bottom: 40px;
                max-width: 315px;
                margin: auto;
                height: auto;
                font-family: Poppins;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #21365f;
                      
            }  
        }
    }
}
  .zadost-form {
    border-radius: 10px;
    background-color: #FFA5BE;
    padding: 60px 100px 55px 100px;
    margin: 20px 0px 0px 0px;  
    p {
        background-color: #FFFFFF;
        border-radius: 3px;
        text-align: right;
        padding: 8px 10px 8px 0px;
        width: 100%;
        font-family: Poppins;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #474850;      
    }
    input[type=range]{
        margin: auto;
        outline: none;
        padding: 0;
        width: 100%;
        height: 32px;
        background-color: #FFFFFF;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8C2EDF), color-stop(100%, #8C2EDF));
        background-size: 50% 100%;
        background-repeat: no-repeat;
        border-radius: 16px;
        cursor: pointer;
        -webkit-appearance: none;        
    }
    input[type=range]::-webkit-slider-runnable-track {
        box-shadow: none;
        border: none;
        background: transparent;
        -webkit-appearance: none;
    }
    input[type=range]::-webkit-slider-thumb {
        height: 36px;
        width: 36px;
          border: 0;
          background: #fff;
          border: 1px solid #777;
          border-radius: 18px;
          box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
          -webkit-appearance: none;
    }
  }  
@media(max-width: 767px){   
  .zadost-form {
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 0px 0px;  
    .row div{
        padding: 0px;
    }
    p {
        margin-top: 15px;
        max-width: none;      
    }
    input[type=range]{
        margin: auto;
        outline: none;
        padding: 0;
        width: 100%;
        height: 32px;
        background-color: #FFFFFF;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8C2EDF), color-stop(100%, #8C2EDF));
        background-size: 50% 100%;
        background-repeat: no-repeat;
        border-radius: 16px;
        cursor: pointer;
        -webkit-appearance: none;        
    }
    input[type=range]::-webkit-slider-runnable-track {
        box-shadow: none;
        border: none;
        background: transparent;
        -webkit-appearance: none;
    }
    input[type=range]::-webkit-slider-thumb {
        height: 36px;
        width: 36px;
          border: 0;
          background: #fff;
          border: 1px solid #777;
          border-radius: 18px;
          box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
          -webkit-appearance: none;
    }
  } 
}
  #textInput{
    padding-right: 45px;
    text-align: right;  
  }
  .slidecontainer{
    padding-top: 40px;
    padding-bottom: 30px;
    small {
    font-family: Poppins;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    color: #21365f;
    }    
  }
  #contact-form {
                h1 {
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                    text-align: left;
                    color: #21365f;
                    padding-bottom: 0px;
                    margin-bottom: 0px;                
                }
                h3{
                    padding-top: 25px;
                      font-family: Poppins;
                      font-weight: normal;
                      font-size: 18px;
                      line-height: 24px;
                      text-align: left;
                      color: #21365f;                  
                }
                label {
                        padding-top: 22px;
                        font-family: Poppins;
                        font-weight: normal;
                        font-size: 16px;
                        text-align: left;
                        color: #21365f;                        
                }
                label:after{
                    content: '*';
                    color:red;
                    padding-left: 5px;;
                }
                .checkbox label:after{
                    content: '';
                }                
  }
    @media(max-width: 767px){
    #contact-form {
        h1 {
            font-family: Poppins;
            font-weight: bold;
            font-size: 24px;
            line-height: 25px;
            text-align: left;
            color: #21365f;            
            padding-bottom: 0px;
            margin-bottom: 0px;                
        }
        h3{
            padding-top: 25px;
              font-family: Poppins;
              font-weight: normal;
              font-size: 18px;
              line-height: 24px;
              text-align: left;
              color: #21365f;                  
        }
        label {
                padding-top: 22px;
                font-family: Poppins;
                font-weight: normal;
                font-size: 16px;
                text-align: left;
                color: #21365f;
        }
} 
}
  .custom-control label {
                            font-family: Poppins;
                            font-weight: 500;
                            font-size: 24px;
                            cursor: pointer;
                            line-height: 24px;
                            letter-spacing: 0.01em;
                            text-align: left;
                            color: #506d8e;}
.check {
          margin-bottom: 30px;
}
.checkbox {
            width: 100%;
            margin: 5px auto;
            position: relative;
            display: block;
            input[type="checkbox"]{
                                        width: auto;
                                        opacity: 0.00000001;
                                        position: absolute;
                                        left: 0;
                                        margin-left: -20px;     
            }
           
            label {
                position: relative;
                min-height: 25px;
                display: block;
                padding-left: 40px;
                margin-bottom: 0;
                font-weight: normal;
                cursor: pointer;
                
                  span {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                }
            }
            label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                margin: 4px;
                width: 18px;
                height: 18px;
                background-color: #FFFFFF;
                transition: transform 0.28s ease;
                border-radius: 3px;
                border: 2px solid #FFFFFF;
            }
            label:after {
                content: '';
                display: block;
                width: 10px;
                height: 5px;
                border-bottom: 2px solid #8C2EDF;
                border-left: 2px solid #8C2EDF;
                -webkit-transform: rotate(-45deg) scale(0);
                transform: rotate(-45deg) scale(0);
                transition: transform ease 0.25s;
                will-change: transform;
                position: absolute;
                top: 10px;
                left: 8px;
               }
            input[type="checkbox"]:checked ~ label::before {
            color: #8C2EDF;
            }
            input[type="checkbox"]:focus + label::before {
                        outline: 0;
            }
            input[type="checkbox"]:checked ~ label::after {
                -webkit-transform: rotate(-45deg) scale(1);
                transform: rotate(-45deg) scale(1);
            }
}
@media(max-width: 767px){
.zadost-form {
            .btn-1 {
                margin:0px;
            }
        }  
}
.girl {
    width: 100%;  
  }
.referencie {  
            max-width:1920px;
            background-color: white;
            padding-bottom: 60px;               
                h1{  
                    padding-top: 50px;
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 56px;
                    line-height: 60px;
                    text-align: center;
                    color: #21365f;                
                }
                p{  
                    font-family: Poppins;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 25px;
                    text-align: center;
                    color: #5a637f;    
                }
                .item {
                    background-color: #473080;
                    border-radius: 5px;
                    margin: 15px;
                    min-height: 285px;                    
                    h2{  
                        max-width: 260px;
                        margin: auto;
                        padding-top: 50px;
                        padding-bottom: 20px;
                        font-family: Poppins;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 24px;
                        text-align: center;
                        color: #fff;                    
                    }
                    h3{
                        padding-bottom: 20px;
                        font-family: Poppins;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 24px;
                        text-align: center;
                        color: #fff;                    
                    }
                    }
  }
  
@media(max-width: 767px){
.referencie {  
            max-width:1920px;
            background-color: white;
            padding-bottom: 60px;
                .item {
                background-color: #473080;
                border-radius: 5px;
                margin: 15px;
                }
                h1{  
                    padding-top: 50px;
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 56px;
                    line-height: 60px;
                    text-align: center;
                    color: #21365f;                
                }
                h2{  
                    min-height: 160px;  
                    max-width: 260px;
                    text-align: center;
                    margin: auto;
                    margin-top: 50px;
                    margin-bottom: 20px;
                    font-family: Poppins;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    color: #fff;                
                }
                h3{
                    padding-bottom: 20px;
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    color: #fff;                
                }
                p{  
                    font-family: Poppins;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 25px;
                    text-align: center;
                    color: #5a637f;  
                }
  }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #473080;
}
}  
.footer {
    border-top:solid 1px #473080;
    max-width:1920px;
    background-color: white;
    padding:15px;
    padding-bottom:0px;
    p {
        font-family: Poppins;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #191b34;  
    }
  }  
@media(max-width: 767px){     
.footer {
    border-top:solid 1px #473080;
    max-width:1920px;
    background-color: white;
    padding:15px;
    padding-bottom:0px;
    p {
        margin: auto;
        padding-bottom: 25px;
        max-width: 235px;
        font-family: Poppins;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        color: #191b34;
         
    }
  }
}
/*&copy  Ivan Jasenský  */